node_modules/
dist/
build/
.venv/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.dbgit 
*.tsbuildinfo
.claude/
.postman/
*.postman_environment.json
*.postman_collection.json